.top-picks {
    display: flex;
    overflow-x: auto;
    max-width: 90.5vw;
    height: 100%;
    gap: 15px;
    margin-top: 5px;
}

.top-picks::-webkit-scrollbar {
    display: none;
}

.top-picks-image {
    border-radius: 15px;
    transition: all 0.5s;
    /* width: 120px; */
}

.top-picks-image:hover {
    transition: all 0.5s;
    transform: scaleX(1.05);
}