* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.gc-container {
    position: relative;
}

.gc-container .gc-card {
    position: relative;
    width: 320px;
    height: 450px;
    background: var(--bgInner);
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.gc-container .gc-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1BBFE9;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.gc-container .gc-card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.gc-container .gc-card:after {
    content: var(--title);
    position: absolute;
    /* bottom: 0;
    left: 10%; */
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.286);
}

.gc-container .gc-card .gc-imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.gc-container .gc-card:hover .gc-imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.gc-container .gc-card .gc-imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    border-radius: 15px;
}

.gc-container .gc-card .gc-contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.gc-container .gc-card:hover .gc-contentBx {
    height: 210px;
}

.gc-container .gc-card .gc-contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.gc-container .gc-card .gc-contentBx .gc-size,
.gc-container .gc-card .gc-contentBx .gc-color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.gc-container .gc-card:hover .gc-contentBx .gc-size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.gc-container .gc-card:hover .gc-contentBx .gc-color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.gc-container .gc-card .gc-contentBx .gc-size h3,
.gc-container .gc-card .gc-contentBx .gc-color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.gc-container .gc-card .gc-contentBx .gc-size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.gc-container .gc-card .gc-contentBx .gc-size span:hover {  /* other bug */
    background: #B90000;
}

.gc-container .gc-card .gc-contentBx .gc-color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.gc-container .gc-card .gc-contentBx .gc-color span:nth-child(2) {
     background: #1BBFE9;
}

.gc-container .gc-card .gc-contentBx .gc-color span:nth-child(3) {
     background: #1B2FE9;
}

.gc-container .gc-card .gc-contentBx .gc-color span:nth-child(4) {
     background: #080481;
}

.gc-container .gc-card .gc-contentBx .gc-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(50px);
    /* transition: .5s; */
}

.gc-container .gc-card:hover .gc-contentBx .gc-btn {
    opacity: 1;
    transform: translateY(0px);
    /* transition-delay: .7s; */
} 